<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create New User</h2>
<form th:action="@{/admin/new}" method="post">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               th:value="${user != null ? user.username : ''}" required>
    </div>


    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>


    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"
               th:value="${user != null ? user.email : ''}">
    </div>


    <div>
        <label>Roles:</label>
        <div th:each="role : ${allRoles}">
            <input type="checkbox"
                   name="roleIds"
                   th:value="${role.id}"
                   th:text="${role.getNoPrefix()}">
        </div>
    </div>

    <button type="submit">Create</button>
</form>

<div>
    <a th:href="@{/templates/admin}">Back to user list</a>
</div>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>